<a href="https://colab.research.google.com/github/droobun/lending_data/blob/main/Credit_Risk_Evaluator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
import seaborn
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from google.colab import drive

In [ ]:
# Import the data
lending_data = pd.read_csv('https://raw.githubusercontent.com/droobun/lending_data/main/lending_data.csv')
lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

Prediction:

I believe the Random Forest Classifer will result in a higher accuracy as far as testing goes. Because the Random Forest Classifier allows for more random samples to be taken into training the algorithm, I believe it will end up having a higher accuracy score. A random forest takes random samples, forms many decision trees, and then averages out the results to get a clearer model.

In [ ]:
# Split the data into X_train, X_test, y_train, y_test
X = lending_data.drop("loan_status",axis=1)
y = lending_data['loan_status'].values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state = 0)
model.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [ ]:
print(f"LR Training Data Score: {model.score(X_train, y_train)}")
print(f"LR Testing Data Score: {model.score(X_test, y_test)}")

LR Training Data Score: 0.9921648287869994
LR Testing Data Score: 0.9918106783595564

In [ ]:
from sklearn.metrics import classification_report
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     14981
           1       0.85      0.92      0.88       527

    accuracy                           0.99     15508
   macro avg       0.92      0.96      0.94     15508
weighted avg       0.99      0.99      0.99     15508

In [ ]:
lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [ ]:
# Split the data into X_train, X_test, y_train, y_test
X = lending_data.drop("loan_status",axis=1)
y = lending_data['loan_status'].values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100, random_state = 0)

In [ ]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [ ]:
print(f"RFC Training Data Score: {model.score(X_train, y_train)}")
print(f"RFC Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.9972109369961952
Testing Data Score: 0.9912303327314934

In [ ]:
from sklearn.metrics import classification_report
y_pred2 = model.predict(X_test)
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     15016
           1       0.84      0.87      0.85       492

    accuracy                           0.99     15508
   macro avg       0.92      0.93      0.92     15508
weighted avg       0.99      0.99      0.99     15508

Results:

Contrary to my prediction, but only slighty, the Logistic Regression Model had a higher accuracy score than the Random Forest Model. Even though I ran multiple training sessions for the Random Forest Model (n_estimators of 10, 50 and 100), the results still show that the Logistic Regression Model runs a more accurate model.